.formulario-documento, #secao-instalacao, #secao-pos-venda, #secao-adicionais, #secao-total  {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    flex-wrap: wrap;
}

.formulario-documento .input-container {
    width: 48%;
    margin-right: 10PX;
}

#secao-instalacao, #secao-pos-venda, #secao-adicionais, #secao-total {
    width: 100%;
   
}

#secao-instalacao, #secao-pos-venda, #secao-adicionais {
    border: 1px solid gray;
    padding: 15px;
    margin: 15px 0;
    border-radius: 15px;
}

#secao-total {
    justify-content: end;
    align-items: center;
    margin-top: 1.5em;
}

#secao-total .valor-container {
    text-align: right;
    width: fit-content;
    margin-top: 0;
    margin-left: 1em;
}

#secao-instalacao #secao-total, #secao-pos-venda #secao-total, #secao-adicionais #secao-total {
    
}

@media only screen and (max-width: 600px) {
    .formulario-documento .input-container {
        width: 98%;
        margin-right: 0;
    }
}