.formulario-documento, #secao-executado, #secao-pos-venda, #secao-kms  {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    flex-wrap: wrap;
}

.formulario-documento .input-container {
    width: 48%;
    margin-right: 10PX;
}

#secao-executado, #secao-pos-venda, #secao-kms {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .formulario-documento .input-container {
        width: 98%;
        margin-right: 0;
    }
}