.btn-secao {
    padding: 1em;
    border-radius: 10rem;
    margin-right: 10px;
}

.btn-secao.ativado {
    border: 1px solid #9F9FA7;
    background-color: #006341;
    color: #FFFFFF;
    font-weight: 600;
}

.btn-secao.nativado {
    border: 1px solid #006341;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 600;
}