.tabela {
    width: 100%;
    border-radius: 10px;
}

table, th, td {
    border: 1px solid #9F9FA7;;
    border-collapse: collapse;
}

.tabela td, .tabela th {
    padding: 0.6em;
}

.tabela tr:hover {
    background-color: #F7F7F7;
    cursor: pointer;
}

.card:has(.tabela) {
    border-radius: 10px 10px 0 0;
}

.card-body:has(.tabela) {
    padding: 0;
}